# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school.

In [ ]:
# Setup 
import pandas as pd
from pathlib import Path

# Find Path
school_data_path = Path("Resources/schools_complete.csv")
student_data_path = Path("Resources/students_complete.csv")

# Read files and import into Dataframes
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

# Merge the two datasets into one
merged_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
merged_data.head()

# District Summary

In [183]:
# Total number of unique schools
total_schools = len(merged_data['school_name'].unique())
print (total_schools)

15

In [184]:
# Total students
total_students = len(merged_data['Student ID'].unique())
print (total_students)

39170

In [185]:
# Total budget
total_budget = school_data.budget.sum()
print (total_budget)

24649428

In [186]:
# Average math score
avg_math = merged_data.math_score.mean()
print (avg_math)

78.98537145774827

In [187]:
# Average reading score
avg_reading = merged_data.reading_score.mean()
print (avg_reading)

81.87784018381414

In [188]:
# % passing math (the percentage of students who passed math)
passing_mcount = merged_data[merged_data["math_score"] >=70].count()["student_name"]
print(passing_mcount)
passing_mpercentage = passing_mcount/total_students * 100
print(passing_mpercentage)

29370
74.9808526933878

In [189]:
# % passing reading (the percentage of students who passed reading)
passing_rcount = merged_data[merged_data["reading_score"] >=70].count()["student_name"]
print(passing_rcount)
passing_rpercentage = passing_rcount/total_students * 100
print(passing_rpercentage)

33610
85.80546336482001

In [190]:
# % overall passing (the percentage of students who passed math AND reading)
pass_count = merged_data[(merged_data["reading_score"] >=70) & (merged_data["math_score"] >=70)].count()["student_name"]
print(pass_count)
pass_percentage = pass_count/total_students * 100
print(pass_percentage)

25528
65.17232575950983

In [191]:
# create a high-level snapshot of the district's key metrics in a Dataframe
district_summary = pd.DataFrame({
    "Total Schools": f"{total_schools}",
    "Total Students": f"{total_students:,}",
    "Total Budget": f"${total_budget:,}",
    "Average Math Score": f"{avg_math:.2f}",
    "Average Reading Score": f"{avg_reading:.2f}", 
    "% Passing Math": f"{passing_mpercentage:.2f}%",
    "% Passing Reading": f"{passing_rpercentage:.2f}%", 
    "% Overall Passing": f"{pass_percentage:.2f}%"
                                               }, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

# School Summary

In [192]:
#Create a variable to store merged dataframe 
df = pd.DataFrame(merged_data)

In [193]:
# School types
school_types = df.groupby("school_name")["type"].first().reset_index(drop=True)
school_types.index = df["school_name"].unique()
school_types

Huang High School        District
Figueroa High School      Charter
Shelton High School      District
Hernandez High School    District
Griffin High School       Charter
Wilson High School       District
Cabrera High School       Charter
Bailey High School       District
Holden High School       District
Pena High School          Charter
Wright High School       District
Rodriguez High School     Charter
Johnson High School       Charter
Ford High School          Charter
Thomas High School        Charter
Name: type, dtype: object

In [194]:
# Total students per school
school_students = df.groupby("school_name")["student_name"].count()
school_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [195]:
# Total school budget
school_budget = df.groupby(["school_name"])["budget"].mean()
school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [196]:
# Per student budget
per_student_budget = school_budget/school_students
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [197]:
# Average math score
avg_math_per_school =df.groupby(["school_name"])["math_score"].mean()
avg_math_per_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [198]:
# Average reading score
avg_reading_per_school = df.groupby(["school_name"])["reading_score"].mean()
avg_reading_per_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [199]:
# % passing math (the percentage of students who passed math)
passing_math_students = df[df["math_score"] >=70].groupby("school_name")["student_name"].count()
passing_math_percentage = passing_math_students/ school_students * 100

passing_math_percentage

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [200]:
# % passing reading (the percentage of students who passed reading)
passing_reading_students = df[df["reading_score"] >=70].groupby("school_name")["student_name"].count()
passing_reading_percentage = passing_reading_students/ school_students * 100

passing_reading_percentage

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [201]:
# % overall passing (the percentage of students who passed math AND reading)
overall_passing = df[(df["math_score"] >=70) & (df["reading_score"] >=70)].groupby("school_name")["student_name"].count()
overall_passing_percentage = overall_passing/ school_students * 100

overall_passing_percentage

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: student_name, dtype: float64

In [202]:
# create a high-level snapshot of each schools' key metrics in a Dataframe
per_school_summary = pd.DataFrame({
    "School Type": school_types, 
    "Total Students": school_students,
    "Total School Budget": school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math_per_school,
    "Average Reading Score": avg_reading_per_school,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_percentage
        })

#formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,Charter,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,Charter,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,District,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,Charter,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,Charter,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,District,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,District,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,District,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

# Highest-Performing Schools (by % Overall Passing)